{% extends 'blog/base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'blog/css/style_edit_article.css' %}">
{% endblock %}

{% block title %}تعديل المقال{% endblock %}

{% block content %}
<div class="form-container">
    <h2>✏️ تعديل المقال</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn-primary">💾 حفظ التعديلات</button>
    </form>
</div>
{% endblock %}
