{% extends 'blog/base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'blog/css/style_profile.css' %}">
{% endblock %}


{% block title %}ملفي الشخصي{% endblock %}

{% block content %}
<div class="profile-container">
    <h2>مرحباً {{ user.username }} 🌸</h2>

    {% if user.profile.image %}
        <img src="{{ user.profile.image.url }}" alt="صورة الملف الشخصي" class="profile-image">
    {% else %}
        <img src="{% static 'blog/images/default_avatar.png' %}" alt="الصورة الافتراضية" class="profile-image">
    {% endif %}

    {% if user.profile.bio %}
        <p class="bio-text">📌 {{ user.profile.bio }}</p>
    {% endif %}

    <p class="welcome-text">هذا ملفكِ الشخصي حيث يمكنكِ تعديل صورتكِ أو وصفكِ 💖</p>

    <a href="{% url 'edit_profile' user.username %}" class="btn-edit">✏️ تعديل البروفايل</a>
</div>

<div class="author-articles">
    <h3>✍️ مقالات {{ author.username }}</h3>
    <div class="grid">
        {% for article in articles %}
        <div class="card">
            <img src="{{ article.image.url }}" alt="">
            <h3>{{ article.title }}</h3>
            <p>{{ article.content|truncatewords:15 }}</p>
            <a href="{% url 'article_detail' article.pk %}">اقرئي المزيد →</a>
        </div>
        {% empty %}
        <p>لا يوجد مقالات بعد.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
